@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #e8eaed;
  font-family: "Open Sans", sans-serif;
}

.arrow {
  display: inline-block;
  margin-right: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid red; /* Color de la flecha */
  margin-top: 5px; /* Ajusta la posición vertical de la flecha */
}

/* Chrome, Safari, Edge y Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}