@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

$primary-color: #7ab800;
$secondary-color: #cc292b;

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;

  &__dialog {
    background: white;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    @media (max-width: 767px) {
      width: 162px;
      height: 192px;
      padding: 10px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__main-text {
    font-family: "Nunito", sans-serif;
    color: #333333;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      padding: 4px;
    }

    @media (min-width: 768px) {
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      padding: 14px;
      padding-bottom: 6px;
    }

    border-radius: 5px;
  }

  &__sub-text {
    font-family: "Nunito", sans-serif;
    color: #333;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      padding-bottom: 6px;
    }

    @media (min-width: 768px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding-bottom: 14px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
  }

  &__title {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: $primary-color;
  }

  &__close {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: $secondary-color;
  }

  &__body {
    font-family: "Nunito", sans-serif;
    margin: 20px 0;
    color: #333;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  &__button {
    padding: 0;
    border: none;
    border-radius: 5px;
    width: 143px;
    height: 38px;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &--secondary {
      background-color: $secondary-color;
      color: #000000;
    }

    &--primary {
      background-color: $primary-color;
      color: #000000;
    }

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: 38px;
      font-size: 14px;
    }
  }

  @media (min-width: 768px) {
    &__dialog {
      width: 264px;
      height: 264px;
    }
  }
}
